@keyframes slide-up {
  0% {
    transform: translateY(-1%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-up-slow {
  0% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes title-show {
  // to {
  //   clip-path: circle(200% at top right);
  // }
  to {
    opacity: 1;
  }
}

@keyframes text-show {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes toplinecross {
  0% {
    transform: translateY(var(--move-decrement));
  }

  50% {
    transform: translateY(0);
  }

  to {
    transform: rotate(45deg);
  }
}

@keyframes bottomlinecross {
  0% {
    transform: translateY(var(--move));
  }

  50% {
    transform: translateY(0);
  }

  to {
    transform: translateY(0) rotate(-45deg);
  }
}

@keyframes box-show {
  //  to {
  //   left: 100%;
  // }

  0% {
   width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes title-before-hide {
  0% {
    translate: (0);
  }

  to {
    translate: (calc(100% + 2px));
  }
}

// @keyframes text-hide {
//   0% {
//     opacity: 1;
//     visibility: visible;
//     transform: translateY(0);
//   }

//   to {
//     opacity: 0;
//     visibility: hidden;
//     transform: translateY(50%);
//   }
// }

// @keyframes btn-show {
//   0% {
//     -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
//     clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
//   }

//   to {
//     -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
//     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
//   }
// }

@keyframes toplineburger {
  0% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(0);
  }

  to {
    transform: translateY(var(--move-decrement)) rotate(0);
  }
}

@keyframes bottomlineburger {
  0% {
    transform: translateY(0) rotate(-45deg);
  }

  50% {
    transform: rotate(0);
  }

  to {
    transform: translateY(var(--move)) rotate(0);
  }
}

@keyframes partners-image {
  0% {
    transform: translateY(25%);
  }

  50% {
    transform: translateY(-10%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes tabs-hide {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
  }
}

@keyframes tabs-show {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes mobile-menu-open {
  0% {
    top: calc(-100vh - 100%);
  }

  to {
    top: 0;
  }
}

@keyframes mobile-menu-close {
  0% {
    top: 0;
  }

  to {
    top: calc(-100vh - 100%);
  }
}

@keyframes slide-in-nav-item {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
