@use '../utils/functions/' as *;
@use '../utils/mixins' as *;

.page {
  min-height: 100vh;
  font-family: var(--font-family-primary);
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
  font-feature-settings: 'pnum' on, 'lnum' on;
  // font-variant-numeric: lining-nums proportional-nums;
  // font-variant-numeric: lining-nums;
  // font-feature-settings: 'lnum';
  // font-feature-settings: 'lnum' 1;
   -moz-font-feature-settings: "lnum"1;
   -webkit-font-feature-settings: "lnum"1;
   -ms-font-feature-settings: "lnum"1;
   font-feature-settings: "lnum"1;
  font-weight: var(--fw-500);
  //  -webkit-font-feature-settings: 'lnum';
  font-size: 1rem;
  line-height: 1.65;
  letter-spacing: 0.034em;
  color: var(--color-white);
  background-color: var(--color-black);

  &__body {
    position: relative;
    min-width: rem(320);
    min-height: var(--vh);

    &::before {
      content: '';
      position: absolute;
      z-index: 10;
      width: 0;
      background-color: rgba(0, 0, 0, 0.5);
      transition: width 0.4s linear;
      inset: 0;
    }
  }

  &.open {
    overflow: hidden;

    > .page__body::before {
      width: 100%;
    }
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);

  &--wrapper {
    --container-width: 720px;
  }
}

.site-container {
  @include footerToBottom;
}

.section {
  margin-bottom: clamp(1.875rem, calc(1rem + vw(134)), 9.8rem);
}

.logo {
  @include flex-all-center;

  &__img {
    width: rem(181);
    min-height: rem(21);
    object-fit: contain;
  }
}

.main {
  padding-top: calc(var(--header-height) + 60px);
}

.link {
  display: inline-flex;
  align-items: center;
  color: var(--color-orange);
  gap: 1rem;

  &::after {
    @include mask;
    position: relative;
    mask-image: url('../images/icons/arrow.svg');
    width: 1rem;
    height: 1rem;
    transform: scaleX(-1);
    transition: transform 0.5s linear;
  }

  &:hover {
    &::after {
      transform: translateX(5px) scaleX(-1);
    }
  }
}
