@use '../utils/functions/' as *;
@use '../utils/mixins' as *;

.footer {
  padding: clamp(2rem, vw(80), 5rem) 0;
  background-color: var(--color-brown);

  &__inner {
    @include flex-all-sb;
  }

  &__copyright {
    @include flex-all-sb;

    position: relative;
    font-size: rem(18);
    letter-spacing: 0.045em;
    gap: rem(30);

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--color-white);
    right: -15px;
  }
  }

  &__link {
    text-decoration: underline;
    text-underline-offset: 1px;
    transition: color 0.4s linear;

    &:hover {
      color: var(--color-orange);
    }
  }
}
