@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

.form {
  width: 100%;

  &__inner {
    @include flex;
    flex-direction: column;
    gap: rem(30);
  }

  &__label {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -10px;
      width: 7px;
      height: 7px;
      border-radius: var(--radius-round);
      background-color: var(--color-red);
      transform: translateY(-50%);
    }

    &--textarea {
      &::before {
        content: none;
      }
    }
  }

  &__input {
    width: 100%;
    padding: rem(10) rem(10) rem(6) rem(10);
    border-bottom: 1px solid var(--color-gray);

    &--textarea {
      // padding-top: 18px;
      // height: 30px;
      resize: none;
      border: none;
      border-bottom: 1px solid var(--color-gray);
    }

    &::placeholder {
      font-size: rem(15);
      color: var(--color-gray);
    }
  }

  &__btn {
    width: 100%;
    max-width: 100%;
    border-color: var(--color-gray-100);
    color: var(--color-gray-100);
    &::before {
      content: none;
    }
  }
}
