@use '../utils/functions/' as *;
@use '../utils/mixins' as *;

.lang {
  @include flex-v-center;
  flex-direction: column;
  gap: 0.94rem;

  a {
    font-weight: var(--fw-500);
    font-size: 1.125rem;
    text-transform: uppercase;
    color: var(--color-gray-100);
    transition: color 0.5s linear;

    &:is(:hover, :active) {
      color: var(--color-orange);
    }
  }

  .active {
    color: var(--color-orange);
  }
}
