@use '../utils/functions/' as *;
@use '../utils/mixins' as *;

.modal {
  margin: auto;
  border: 0;
  border-radius: var(--radius-big);
  padding: clamp(1rem, vw(50), rem(50)) clamp(2rem, vw(150), rem(150));
  width: min(90%, 930px);
  color: var(--color-white);
  background-color: var(--color-brown);

  &::backdrop {
    background: rgba(30, 33, 44, 0.75);
  }

  &__title {
    text-align: center;
  }
  
  &__close {
    @include flex-all-center;

    position: absolute;
    right: clamp(1rem, vw(50), rem(50));
    top: clamp(1rem, vw(50), rem(50));
    width: rem(25);
    height: rem(25);

    &::before {
      @include mask;
      mask-image: url('../images/icons/close.svg');
      width: rem(25);
      height: rem(25);
      background-color: var(--color-white);
    }

    &:hover {
      &::before {
        background-color: var(--color-orange);
      }
    }
  }

  .form__input {
    color: var(--color-white);
  }

  &[open] {
    animation: slide-up 0.6s forwards, fade-in 0.6s forwards;
  }
}
