@use '../utils/functions/'as *;
@use '../utils/mixins'as *;

.nav {
  @include flex-all-sb;
  gap: 1rem;

  &__inner {
    @include flex;

    .lang {
      display: none;
      visibility: hidden;
      opacity: 0;

      @include media(mobile-m) {
        display: flex;
        visibility: visible;
        opacity: 1;
        order: -1;
      }
    }

    @include media(mobile-m) {
      position: absolute;
      top: calc(var(--header-height));
      left: 0;
     justify-content: space-between;
      align-items: flex-start;
      padding: 4rem 2rem 0;
      z-index: 99;
      height: (var(--vh));
      background-color: var(--color-black);
      width: 100%;
      clip-path: circle(0 at top right);
      transition: clip-path ease-in-out 0.9s;

      .nav__link {
        font-size: rem(22);
      }
    }
  }

  &__list {
    @include flex-v-center;

    @include media(mobile-m) {
    
      flex-direction: column;
     

      .nav__link {
        font-size: rem(22);
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: clamp(1rem, vw(50), 3.125rem);

      @include media(mobile-m) {
        margin-bottom: 3.125rem;
        margin-right: 0;
        animation: slide-up-slow 2s forwards, fade-in 2s forwards;
      }
    }


  }

  &__link {
    position: relative;
    font-size: clamp(1rem, calc(0.975rem + 0.125vw), 1.125rem);
    transition: color 0.5s linear;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: currentcolor;
      transform: scale(0);
      transform-origin: left;
      transition: transform 0.3s linear;
    }

    &:hover {
      color: var(--color-orange);

      &::before {
        transform: scale(1);
      }
    }

    &:active {
      color: var(--color-orange);
    }
  }
}