@use '../utils/functions/' as *;
@use '../utils/mixins' as *;

.social {
  @include flex;
  gap: clamp(1rem, vw(30), 1.88rem);
  flex-direction: column;
  align-self: flex-start;

  &__link {
    @include flex-all-center;

    position: relative;
    border-radius: var(--radius-round);
    width: rem(40);
    height: rem(40);
    background-color: var(--color-ebony);
    transition: background-color 0.4s linear;

    &::before {
      @include mask;

      mask-image: url('../images/icons/fb.svg');
      width: rem(20);
      height: rem(20);
      background-color: var(--color-gray-100);
    }

    &:hover {
      background-color: var(--color-white);

      &::before {
        background-color: var(--color-orange);
      }
    }

    &--fb {
      &::before {
        mask-image: url('../images/icons/fb.svg');
      }
    }

    &--ln {
      &::before {
        mask-image: url('../images/icons/ln.svg');
      }
    }

    &--in {
      &::before {
        mask-image: url('../images/icons/in.svg');
      }
    }

    &--yt {
      &::before {
        mask-image: url('../images/icons/yt.svg');
      }
    }

    &--be {
      &::before {
        mask-image: url('../images/icons/be.svg');
      }
    }
  }
}
