@use '../utils/functions'as *;
@use '../utils/mixins'as *;

.stages {
  &__list {
    --item: 305px;
    margin-bottom: clamp(1.5rem, vw(50), 3.12rem);
    counter-reset: li;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--item), 1fr));
    gap: rem(45);
    padding-left: 60px;

    &--advantages {
      padding: 0 60px 0 0;

      .stages__item {
        padding-bottom: clamp(2rem, vw(50), 3.12rem);
  

        &::after {
          left: auto;
          right: calc(clamp(2.5rem, vw(80), 5rem) * -1);
          background-size: clamp(2rem, vw(70), 4.375rem);
        }

        p {
          font-weight: var(--fw-700);
          font-size: clamp(1rem, calc(0.975rem + 0.125vw), 1.125rem);
        }
      }
    }
  }

  &__item {
    @include flex;
    flex-direction: column;
    gap: rem(20);
    position: relative;
    height: 100%;
    padding: clamp(1rem, vw(70), 4.35rem) clamp(1rem, vw(78), 4.88rem) clamp(1rem, vw(30), 1.88rem);


    // padding: 4.38rem clamp(2rem, vw(78), 4.88rem) clamp(1rem, vw(30), 1.88rem)
    //   4.88rem;
    // font-size: rem(15);
    // line-height: 1.5;
    border-radius: var(--radius-big);
    background-color: var(--color-brown);

    h3 {
      font-weight: var(--fw-700);
      font-size: rem(30);
      line-height: 1.5;
    }

    p {
      font-size: rem(15);
      letter-spacing: 0.028em;
      line-height: 1.5;
    }

    span:not([class]) {
      margin-top: auto;
    }

    &::before {
      // bottom: clamp(-2rem, vw(-72), -4.5rem);
      top: calc(clamp(3rem, vw(59), 3.7rem) * -1);
      // top: rem(-70);
      left: rem(60);
      counter-increment: li;
      content: counter(li, decimal-leading-zero);
      position: absolute;
      font-weight: var(--fw-700);
      font-size: clamp(5rem, 4.75rem + 1.25vw, 6.25rem);
      line-height: 1.17;
      letter-spacing: 0.03em;
      background-image: linear-gradient(180deg,
          #fff 50%,
          rgb(144, 127, 83) 50%);
      // background-image: linear-gradient(
      //   180deg,
      //   #fff 60%,
      //   transparent 75%
      // );
      -webkit-text-stroke-width: 0.006em;
      -webkit-text-stroke-color: inherit;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      margin-bottom: 12px;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      // left: rem(-80);
      left: calc(clamp(2.5rem, vw(80), 5rem) * -1);
      @include flex-all-center;
      top: 50%;
      transform: translateY(-50%);

      width: clamp(3.75rem, vw(120), 7.5rem);
      //  height: rem(120);
      aspect-ratio: 1/1;
      border-radius: var(--radius-round);
      border: clamp(0.2rem, vw(8), 0.5rem) solid var(--color-brown);
      background-color: var(--color-white);
      background-repeat: no-repeat;
      background-size: clamp(2rem, vw(50), 3.125rem);
      background-position: center;
    }

    &--ds {
      &::after {
        background-image: url('../images/icons/design.svg');
      }
    }

    &--cd {
      &::after {
        background-image: url('../images/icons/css.svg');
      }
    }

    &--ts {
      &::after {
        background-image: url('../images/icons/testing.svg');
      }
    }

    &--sol {
      &::after {
        background-image: url('../images/icons/money.svg');
      }
    }

    &--save {
      &::after {
        background-image: url('../images/icons/hand-money.svg');
      }
    }

    &--discount {
      &::after {
        background-image: url('../images/icons/making-money.svg');
      }
    }
  }


}