@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.stages {
  &__list {
    --item: 240px;
    margin-bottom: clamp(1.5rem, vw(50), 3.12rem);
    counter-reset: li;
    display: grid;
    gap: 2.81rem clamp(2rem, vw(45), 2.81rem);
    padding-left: clamp(2.5rem, vw(60), 3.75rem);
    grid-template-columns: repeat(auto-fit, minmax(var(--item), 1fr));

    @include media(mobile-m) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    &--advantages {
       --item: 250px;
      padding: 0 clamp(2.5rem, vw(60), 3.75rem) 0 0;

      .stages__item {
        padding-bottom: clamp(2rem, vw(50), 3.12rem);

        &::after {
          left: auto;
          right: 0;
          transform: translate(50%, -50%);
          background-size: clamp(2rem, vw(70), 4.375rem);
        }

        p {
          padding-top: rem(12);
          font-weight: var(--fw-700);
          font-size: clamp(1rem, calc(0.975rem + 0.125vw), 1.125rem);
        }

        &:last-child {
          @include media(tablet) {
            max-width: rem(400);
            margin: 0 auto;
            grid-column: 2 span;
          }

          @include media(mobile-m) {
            grid-column: auto;
            max-width: 100%;
            margin: 0;
          }
        }
      }
    }
  }

  &__item {
    @include flex;
    flex-direction: column;
    gap: rem(20);
    position: relative;
    height: 100%;
    padding: clamp(1.5rem, vw(70), 4.35rem) clamp(1rem, vw(78), 4.88rem)
     clamp(1rem, vw(30), 1.875rem) clamp(2.2rem, vw(78), 4.88rem);
    border-radius: var(--radius-big);
    background-color: var(--color-brown);

    h3 {
      padding-top: rem(10);
      font-weight: var(--fw-700);
      font-size: rem(30);
      line-height: 1.5;
    }

    p {
      font-size: rem(15);
      letter-spacing: 0.028em;
      line-height: 1.5;
    }

    span:not([class]) {
      margin-top: auto;
    }

    &::before {
      // bottom: clamp(-2rem, vw(-72), -4.5rem);
      top: calc(clamp(3rem, vw(59), 3.7rem) * -1);
      // top: rem(-70);
      left: rem(60);
      counter-increment: li;
      content: counter(li, decimal-leading-zero);
      position: absolute;
      font-weight: var(--fw-700);
      font-size: clamp(5rem, 4.75rem + 1.25vw, 6.25rem);
      line-height: 1.17;
      letter-spacing: 0.03em;
      background-image: linear-gradient(
        180deg,
        #fff 50%,
        rgb(144, 127, 83) 50%
      );
      -webkit-text-stroke-width: 0.006em;
      -webkit-text-stroke-color: inherit;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      @include flex-all-center;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      width: clamp(3.75rem, vw(120), 7.5rem);
      aspect-ratio: 1/1;
      border-radius: var(--radius-round);
      border: clamp(0.2rem, vw(8), 0.5rem) solid var(--color-brown);
      background-color: var(--color-white);
      background-repeat: no-repeat;
      background-size: clamp(2rem, vw(50), 3.125rem);
      background-position: center;
    }

    &--ds {
      &::after {
        background-image: url('../images/icons/design.svg');
      }
    }

    &--cd {
      &::after {
        background-image: url('../images/icons/css.svg');
      }
    }

    &--ts {
      &::after {
        background-image: url('../images/icons/testing.svg');
      }
    }

    &--sol {
      &::after {
        background-image: url('../images/icons/money.svg');
      }
    }

    &--save {
      &::after {
        background-image: url('../images/icons/hand-money.svg');
      }
    }

    &--discount {
      &::after {
        background-image: url('../images/icons/making-money.svg');
      }
    }

    &:last-child {
      @include media(tablet) {
        max-width: rem(400);
        margin: 0 auto;
        grid-column: 2 span;
      }

      @include media(mobile-m) {
        grid-column: auto;
        max-width: 100%;
        margin: 0;
      }
    }
  }
}
