<article class="article">

  <div class="article__images">
    <img src="./images/about/{{ image }}.png?as=webp" alt="{{ imageDescr }}" width="270" height="406" loading="lazy" />
  </div>

    <div class="article__descr">
      <h3>
        <a href="#">{{ title }}</a>
      </h3>
      <span>{{ position }}</span>
    </div>

    <ul class="social">

      <li class="social__item">
        <a class="social__link social__link--yt" href="{{youtube}}" target="_blank">
          <span class="sr-only">Youtube page</span>
        </a>
      </li>

      <li class="social__item">
        <a class="social__link social__link--fb" href="{{facebook}}" target="_blank">
          <span class="sr-only">Facebook page</span>
        </a>
      </li>

      <li class="social__item">
        <a class="social__link social__link--ln" href="{{linkedin}}" target="_blank">
          <span class="sr-only">Linkedin page</span>
        </a>
      </li>

    </ul>

</article>