   <form class="form" action="#">

     <div class="form__inner">
       <label class="form__label">
         <input class="form__input" placeholder="Name" type="text" id="name" autocomplete="username" required>
         <span class="error-massage"></span>
       </label>

       <label class="form__label">
         <input class="form__input" placeholder="Phone" type="tel" id="phone" required>
         <span class="error-massage"></span>
       </label>

       <label class="form__label form__label--textarea">
         <textarea class="form__input form__input--textarea" placeholder="Massage" name="Massage" id="Massage" rows="2"></textarea>
       </label>

       <span class="form__text">necessarily</span>

       <p class="form__text">By clicking the button, I consent to the processing of my personal data</p>

       <button class="btn btn--transparent form__btn" type="submit">Request a quote</button>
     </div>

   </form>