<div class="modals">

  <dialog class="modal" id="modal">

    <p class="title modal__title">Request a quote</p>

    <button class="modal__close" aria-label="close modal" type="button" data-modal-close>
    </button>

    <include src="./html/components/_form.html"></include>
  </dialog>

   <dialog class="modal modal-finish" id="modal-finish">

     <p class="title modal__title">thank you</p>

    <div class="text">
      <p>We will contact you as soon as possible</p>
    </div>

     <button class="modal__close" aria-label="close modal" type="button" data-modal-close>
     </button>
   </dialog>

</div>