@use '../../utils/functions'as *;
@use '../../utils/mixins'as *;

.about-home {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    place-items: center;
    gap: clamp(1rem, vw(30), 1.875rem);

    @include media(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(mobile-m) {
      @include flex;
      gap: 0;
    }

  }

  // &__item {
  //   &:last-child {
  //    margin: 0 auto;
  //   }
  // }

  &__slider {
    overflow: hidden;
  }
}