@use '../../utils/functions' as *;
@use '../../utils/mixins' as *;

.contacts-home {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    border-radius: var(--radius-big);

    @include media(mobile-l) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
  }

  &__desc {
    padding: clamp(1.2rem, vw(100), 6.25rem);
    color: var(--color-black);
    background-color: var(--color-white);
  }

  &__text {
    margin-bottom: clamp(2rem, vw(50), 3.12rem);
  }

  &__info {
    @include flex-sb;
    flex-direction: column;
    padding: clamp(1.2rem, vw(100), 6.25rem);
    background-color: var(--color-brown);
    gap: 1rem;
  }
}

.contact {
  &__follow {
    .social {
      flex-direction: row;
    }

    .social__link {
      background-color: var(--color-white);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: rem(20);

    @include media(mobile-m) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  &__item {
    @include flex;
    flex-direction: column;
    white-space: nowrap;
    gap: rem(10);
  }

  &__name {
    @include flex;
    position: relative;
    font-size: rem(15);
    gap: rem(15);

    &::before {
      @include mask;
      position: relative;
      mask-image: url('../images/icons/email.svg');
      width: rem(24);
      height: rem(24);
    }

    &--email {
      &::before {
        mask-image: url('../images/icons/email.svg');
      }
    }

    &--phone {
      &::before {
        mask-image: url('../images/icons/phone.svg');
      }
    }

    &--schedule {
      &::before {
        mask-image: url('../images/icons/schedule.svg');
      }
    }
  }

  &__link {
    font-size: clamp(1rem, calc(0.975rem + 0.125vw), 1.125rem);
  }
}
