@use "../../utils/functions" as *;
@use "../../utils/mixins" as *;

.faq {
  &__list {
    @include flex;
    flex-direction: column;
    gap: rem(20);
  }

  &__item {
    position: relative;
    width: 100%;
    max-width: rem(930);

    &-title {
      font-weight: var(--fw-700);
      font-size: clamp(1.25rem, vw(30), 1.875rem);
      line-height: 1.5;
    }

    &--client {
      margin-left: auto;
      border-radius: rem(20) rem(20) 1px;
      padding: clamp(1rem, vw(31), 1.94rem) clamp(1rem, vw(60), 3.75rem);
      background-color: var(--color-brown);
    }

    &--manager {
      display: flex;
      margin-right: auto;
      gap: rem(30);
    }
  }

  &__link {
    @include flex-v-center;
    gap: rem(30);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
    }

    @include media(mobile-m) {
      display: block;
    }
  }

  &__content {
    border-radius: rem(20) rem(20) rem(20) 1px;
    padding: clamp(1rem, vw(31), 1.94rem) clamp(1rem, vw(60), 3.75rem);
    color: var(--color-ebony);
    background-color: var(--color-white);
    animation:
      slide-up-slow 2s forwards,
      fade-in 2s forwards;

    > div {
      @include flex;
      gap: rem(30);

      @include media(mobile-m) {
        display: block;
      }
    }
  }
}
