@use "../../utils/functions" as *;
@use "../../utils/mixins" as *;

.hero {
  margin-top: calc((var(--header-height) + 60px) * -1);
  margin-bottom: rem(20);
  display: flex;
  align-items: center;
  position: relative;
  height: var(--vh);
  isolation: isolate;

  &__inner {
    z-index: 1;
    @include flex-sb;
    align-items: baseline;
    gap: 1rem;
  }

  &__content {
    width: 100%;
    max-width: rem(910);
  }

  // &__desc {
  //   z-index: 1;
  //   width: 100%;
  //   max-width: rem(910);
  // }

  &__title {
    margin-bottom: clamp(2rem, vw(100), 6.25rem);
    font-weight: var(--fw-900);
    font-size: clamp(2.1875rem, calc(0.75rem + 7.1875vw), 9.375rem);
    line-height: 1.17;
  }

  @include media(mobile-m) {
    .lang {
      display: none;
    }
  }
}
