@use '../../utils/functions' as *;
@use '../../utils/mixins' as *;

.reviews-home {
  &__content {
    @include flex-sb;
    margin-bottom: rem(50);
  }

  &__nav {
    @include flex;
    gap: rem(30);
  }
}

.reviews-slider {
  overflow: hidden;

  &__item {
    @include flex-all-sb;
    gap: 1rem;
    height: auto;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../images/icons/quotes.svg');
      height: rem(22);
      width: rem(32);
    }

    @include media(tablet) {
      flex-direction: column-reverse;
    }
  }

  &__blockqoute {
    @include flex;

    flex-direction: column;
    padding-top: clamp(2rem, vw(50), 3.125rem);
    width: 100%;
    height: 100%;

    max-width: rem(930);

    p {
      margin-bottom: rem(30);
    }
  }

  &__content {
    @include flex;

    margin-top: auto;
    gap: clamp(1rem, vw(50), 3.125rem);
    @include media(mobile-l) {
      flex-direction: column;
    }
  }

  &__author {
    font-weight: var(--fw-700);
    font-size: rem(18);
  }

  &__image {
    margin-left: auto;
    img {
      width: rem(380);
      aspect-ratio: 2/0.92;
    }
  }

  &__link {
    @include flex-v-center;

    gap: clamp(0.7rem, vw(50), 3.125rem);

    @include media(mobile-sm) {
      flex-wrap: wrap;
    }
  }
}
