@use "../../utils/functions" as *;
@use "../../utils/mixins" as *;

.services {
  &__list {
    --item: 335px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--item), 1fr));
    gap: rem(30);

    @include media(mobile-l) {
      --item: 250px;
    }
  }
}
